p {
  margin-top: 0;
  margin-bottom: 0;
}
main{
  width: calc(100%-200px);
  margin: 0 100px;
  height: auto; 
  border-radius: 2rem;
  border: 1px solid var(--extra-light);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  padding: 15px 0px;
}
#toandfro{
margin: 18px 50px; 
height: auto; 
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
gap: 1rem;
}

#land, #dep{
  font-size: 2.5rem;
}

#flight_content{
/* display: grid; */
grid-template-columns: 1fr;
/* margin: auto; */
text-align: center;
}
#flight_content p {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#flight_content button{
  padding: .75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--extra-light);
  background-color: #1c96c5;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 150px;
  margin-top: 2rem;
}
#flight_content button:hover{
  background-color: var(--primary-color-dark);
}

